* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --accent-color: rgb(39, 135, 199);
  --primary-color: #f4f4f4;
  font-family: sans-serif;
}

body {
  height: 100vh;
  margin: auto;
}
header {
  background: var(--accent-color);
}
h1 {
  font-size: 2.5rem;
  margin: auto;
  max-width: 30rem;
  margin-bottom: 1rem;
  color: var(--primary-color);

  padding: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  max-width: 30rem;
}
article {
  margin: auto;
  max-width: 30rem;
}

.input-wrapper {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.input-wrapper input {
  width: 100%;
}

.input-wrapper #year {
  width: 10rem;
  margin-left: auto;
}

.input-wrapper label {
  min-width: 5rem;
  text-align: start;
}

#submit {
  width: 5rem;
  color: var(--accent-color);
}

table {
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--accent-color);
}

th {
  background-color: var(--accent-color);
  color: var(--primary-color);
  text-align: start;
  padding-inline: 0.5rem;
}

th:nth-child(3) {
  text-align: end;
}

tbody > tr > td:nth-child(3),
tbody > tr > td:last-child {
  text-align: end;
}

#new-delete {
  cursor: pointer;
}
